/*Estilos tomados del framework Bootstrap de uso libre,
bajo licencia MIT: (https://github.com/twbs/bootstrap/blob/master/LICENSE)*/

/*Esta hoja de estilos es para el todo el sitio*/

.container {
  max-width: 960px;
}


/*
Presets por defecto
*/
body {
  font-family: "CooperHewitt-Book";
  background-image: url("../img/dark-wood.jpg");

}

strong, b {
  
  font-family: "CooperHewitt-Bold";

}

/*
@Font Face
*/


@font-face {
    font-family:"CooperHewitt-Bold";
    src:url("../fonts/CooperHewitt-Bold.woff2") format("woff2"),url("CooperHewitt-Bold.woff") format("woff"),url("CooperHewitt-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
@font-face {
    font-family:"CooperHewitt-BoldItalic";
    src:url("../fonts/CooperHewitt-BoldItalic.woff2") format("woff2"),url("CooperHewitt-BoldItalic.woff") format("woff"),url("CooperHewitt-BoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
@font-face {
    font-family:"CooperHewitt-BookItalic";
    src:url("../fonts/CooperHewitt-BookItalic.woff2") format("woff2"),url("CooperHewitt-BookItalic.woff") format("woff"),url("CooperHewitt-BookItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"CooperHewitt-Book";
    src:url("../fonts/CooperHewitt-Book.woff2") format("woff2"),url("CooperHewitt-Book.woff") format("woff"),url("CooperHewitt-Book.otf") format("opentype");
    font-style:normal;font-weight:400;
}
@font-face {
    font-family:"CooperHewitt-Thin";
    src:url("../fonts/CooperHewitt-Thin.woff2") format("woff2"),url("CooperHewitt-Thin.woff") format("woff"),url("CooperHewitt-Thin.otf") format("opentype");
    font-style:normal;font-weight:400;
}
@font-face {
    font-family:"CooperHewitt-ThinItalic";
    src:url("../fonts/CooperHewitt-ThinItalic.woff2") format("woff2"),url("CooperHewitt-ThinItalic.woff") format("woff"),url("CooperHewitt-ThinItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}

/*
 * Cabecera traslúcida
 */

.site-header {
  background-image: url("../img/cubiertos.png");
  height: auto;
  background-color: #1e1e1e;
  margin-top: 0!important;
  padding-top: 0px;

}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

img
 {height: 64px;}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  margin-right: 20%;
  margin-left: 20%;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.grandes
  {
  font-weight: bold;
  font-size: 1.5rem;
  padding-right: 10%;
  text-align: center;
  
 }
footer{

background-color: #1e1e1e!important;
padding-top: 20px;
padding-bottom: 20px;
margin-bottom: 0;
color: #fff;
bottom: 0;
width: 100%;

}



/*
 * Contenedores
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Utilidades
 */

.figure-caption {
    background: #fff;
    bottom: 80px;
    color: #1e1e1e;
    left: 0;
    opacity: 0.7;
    position: absolute;
    width: 93%;
    height: 80px;
    padding-top: 10px;
    padding-left:20px;
    margin-left: 15px;
}

.figure-caption:hover {
    opacity: 0.5;
}

.figure-img {

  border: 5px solid transparent;
  border-color: #fff;

}

.list-group-item.list-group-item-action.active {

  background-color: #1e1e1e;
  opacity: 0.7;
  border-color: transparent;
}

.iconos {
  
  width: 32px;
  height: 32px;
}

.list-group-item-action {
  background-color: transparent;
  color: #fff;
}

.col-sm-12.separador {
  padding-top: 30px;
}

/*Mapa*/


.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.nosotros {

  color: #fff;

}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }


/*Contacto*/


.btn {

    color: #fff;
    background-color: #1e1e1e;
    border: #fbb33b solid 1px;
}

.btn:hover {

    color: #fff;
    background-color: #fbb33b;
    border: #1e1e1e solid 1px;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
  color: #fff;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: 50px;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; 
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}